.identity {
	float: left;
	width: 300px;
	margin: 10px;
	text-align: center;
	display: inline-block;
}

h1{
	font-family: "Courier New", Courier, monospace;
	font-size: 1.5em;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navigation li{
	display: inline-block;
}

li{
	list-style-type: none;
}

.content {
	float: left;
	width: 620px;
	margin: 10px;
	font-family: "Courier New", Courier, monospace;
}